# Entorno virtual
venv_new/
env/
ENV/

# Dataset (puede ser grande)
dataset/
detections_frames/

# Ignorar solo los resultados y evidencias, pero conservar la interfaz (static/)
static/results/
static/evidencia/

# Modelos entrenados
runs/
*.pt
*.pth

# Base de datos de detecciones
detections.db

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
