# .gitignore para proyecto de detección de drones

# Entorno virtual
venv_new/
env/
ENV/

# Dataset (puede ser grande)
dataset/
detections_frames/
static/
static/results/
# Modelos entrenados
runs/
*.pt
*.pth

# Base de datos de detecciones
detections.db

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db